@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html{   
    background-color: #E0c9cb;
}

body{
    font-size: 12.5px;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


.Background{
    border-radius: 10px;
    width: 520px;
    height: 350px;
    margin-top: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.pSize{
    font-size: 0.6em;
    color: #ba7e7e;
    margin-left: 20px;
}

.Btn5{
    margin-left: 20px;
}
button{
    border: 1px solid #ba7e7e;
    width: 30px;
    height: 32px;
    padding: 9px;
    font-size: 11.2px;
    color: #ba7e7e;
    background-color: white;
    cursor: pointer;
    transition-duration: 0.5s;
    /*border-end-start-radius: ;*/
}
button:hover{
    color: white;
    background-color: #ba7e7e;
}
.BtnAdd{
    width: 120px;
    background-color: #E0c9cb;
}
.Btn{
    background-color: #E0c9cb;
}
.shoes{
    margin-top: 40px;
    width: 290px;
}

.title{
    margin-top: 35px;
    color: #ba7e7e;
    font-size: 9.6px; 
    margin-bottom: 5px;
}