@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');
h3
{
    font-family: "Edu AU VIC WA NT Hand", cursive;
    color:black;
}
.h3Color{
    color:gray;
}
p{
    font-family: "Kalnia Glaze", serif;
}
.Btnseeplans{
    width: 150px;
    height: 45px;
    border-radius:20px;
    color: white;
    background-color: black;
}
.btnBook{
    width: 150px;
    height: 45px;
    border-radius: 20px;
    color: black;
    background-color: grey;
}