
.email-txt {
  width: 180px;
  padding: 5px;
  border: none;
  font-size: 12px;
  font-style: italic;
}
.socail a {
  color: #900;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}
.socail a:hover {
  text-decoration: underline;
}
.hotspot-info {
  border: 1px solid #c69c0a;
  background-color: #fff0bb;
  font-size: 12px;
  padding: 5px 15px;
  margin: 15px 5px;
}
