* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container-960 {
    width: 960px;
  }
  .box {
    padding: 15px 10px 10px 10px;
    margin: 5px 0;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    border-top: 4px solid #990000;
  }
  .box h2 {
    text-transform: uppercase;
    font-size: 11px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .box .title {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  li {
    margin-bottom: 5px;
  }
  a {
    display: block;
    color: #990000;
    font-size: 12px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .image-in-box {
    /* float: left; */
    padding: 5px;
    margin-right: 8px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid silver;
  }
  .flex-col {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .flex-row {
    display: flex;
    flex-direction: column;
  }
  /*header */
  .header-contain {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header {
    width: 100%;
    max-width: 1070px;
    height: 130px;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .logo-contain .rupp-logo {
    margin-top: 15px;
    width: 100px;
  }
  .menu {
    margin: 15px 0;
    padding-left: 25px;
  }
  nav ol li a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-underline-offset: 5px;
    text-decoration: underline dotted #990000 1px;
    font-size: 11px;
    color: #990000;
  }
  nav ol li a:hover {
    text-decoration: none;
  }
  .text .khmer {
    font-size: 20px;
    padding-bottom: 10px;
    margin: 0;
  }
  
  .text .english {
    font-size: 12px;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;
    margin-left: 20px;
    text-transform: uppercase;
  }
  .des {
    position: absolute;
    color: #7f4e00;
    right: 0;
    bottom: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    margin: 8px 0;
  }
  .navigation {
    width: 100%;
    height: 60px;
    background-color: #990000;
    display: flex;
    justify-content: center;
  }
  .navigation ul {
    width: 980px;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 11px;
  }
  .navigation ul li {
    /* width: 101px; */
    text-align: center;
    height: 60px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }
  .navigation ul li:hover {
    background-color: #dd761c;
  }
  .navigation ul li a {
    color: white;
    max-width: 151px;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
  }
  .left-col{
    flex: 1;
  }
  .right-col {
    
    width: 295px;
  }
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer-infom {
    text-align: center;
  }
  .footer-infom p {
    font-size: 12px;
    color: #000000;
    margin: 0;
  }
  .footer-infom a {
    color: #831717;
    text-decoration: none;
  }
  .footer-infom a:hover {
    text-decoration: underline;
  }
  .back-home {
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
    text-transform: uppercase;
  }
  .back-home a {
    display: inline-block;
    /* font-size: 14px; */
  }
  .read-more-link {
    color: #990000;
    font-size: 12px;
    padding-left: 5px;
    display: inline-block;
  }
  
  