body{
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 380px;
}
button{
    padding-left: 155px;
    padding-right: 155px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(26,115,232);
    cursor: pointer;
}
button:hover{
    border: 2px solid;
    background-color: white;
    border-color: rgb(26,115,232);
    color: rgb(26,115,232);
    
}