@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.font-robotoMono{
    font-family: "Roboto Mono", serif;
}
.font-Open-Sans{
    font-family: "Open Sans", serif;
}

.btn-shop-now-dark {
    padding: 10px 28px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: black;
    text-transform: uppercase;
    text-decoration: none;
}
.btn-shop-now-dark:hover{
    background-color: rgba(0,0,0,0.8);
}
.product-cart-hover{
    transition: all 0.3s ease-in-out;
}
.product-cart-hover:hover{
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.fs-sm{
    font-size: 14px;
}
body{
    font-family: "Open Sans", serif;
}

