*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 350px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    display: inline-block;
}
.image{
    display: inline-block;
    margin-right: 10px;
}
.image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}
.detail{
    vertical-align: middle;
    display: inline-block;
}
.BTN button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color:white;
    background-color: #6495ED;
}