.container{
    display: flex;
    flex-direction: row;
    height: 50px;
}
.col1{
    width: 100px;
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item1{
    background-color: black;
    color: white;
}
.col2{
    width: 200px;
    background-color: lightblue;
}