.container{
    width: 400px;
    height: 150px;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.square{
    background-color: red;
    width: 100px;
    height: 100px;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 50%;
}