# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

PAYPAL_CLIENT_ID=AegrgAfe0Zxy711zdWGwlGNgHrgU5Pu57Thjo26zesE4xGzRkRDnghqlHmlwb9gvuhVIbz8ctjZrr0c-
PAYPAL_CLIENT_SECRET=EO5OqwI-T2zwetcAkez8BI1mfrqX9TFAhBoWkuMQLPH3eyJy6G5WmVxxYIi3Lv4-xhSIK_oOjB5sjYQ8
